<div class="container">
    <form action="/encounter/add" method="post">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControl">Date de la rencontre</label>
                    <input type ="date" class="form-control" name ="match_date"
                           id="exampleFormControlTextarea1" rows="3" >
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Sélectionner le pays</label>
                <select class="form-control" name ="team_id" id="exampleFormControlSelect1">
                    {% for team in teams  %}
                    <option value="{{ team.id }}">{{ team.team }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <button type="submit" class="btn btn-outline-dark">Envoyer</button>

            </div>
        </div>
    </form>
</div>