.rosterteam{
    width: 15rem;
    padding: 10px;
    margin: 20px;
}
/*encounter*/
.encounter{
    padding: 20px;
}
.calendar-head{
    font-weight: bold;
    letter-spacing: 1px;
}
.calendar{
    height: 100px;
}
