<div class="container">
    <form method = "post">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label for="exampleFormControl">Prénom</label>
                            <input type ="text" class="form-control" name ="firstname" id="exampleFormControlTextarea1" rows="3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControl">Nom</label>
                            <input type ="text" class="form-control" name ="lastname" id="exampleFormControlTextarea1" rows="3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControl">Date de naissance</label>
                            <input type ="date" class="form-control" name ="birthdate" id="exampleFormControlTextarea1" rows="3">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControl">Taille</label>
                            <input type ="number" class="form-control" name ="height" id="exampleFormControlTextarea1" rows="3">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControl">Poids</label>
                            <input type ="number" class="form-control" name ="weight" id="exampleFormControlTextarea1" rows="3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Position</label>
                            <select class="form-control" name = "position" id="exampleFormControlSelect1">
                                <option>Gardien</option>
                                <option>Défenseur</option>
                                <option>Milieu de terrain</option>
                                <option>Attaquant</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControl">Numéro</label>
                            <input type ="number" class="form-control" name ="number" id="exampleFormControlTextarea" rows="3">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Actif</label>
                            <select class="form-control" name = "isactif" id="exampleFormControlSelect1">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleFormControl">URL de l'image</label>
                        <input type ="text" class="form-control" name ="portrait" id="exampleFormControlTextarea" rows="3">
                    </div>
                </div>
                <div class="row justify-content-center">
                     <div class="col">
                        <button type="submit" class="btn btn-primary" style="width: 200px;">Submit</button>
                     </div>
                </div>
    </form>
</div>