{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter un nouveau Joueur</h1>
    {% include 'Player/_form.html.twig' %}
    <a href="/newteam" class="btn btn-primary">Retour</a>
{% endblock %}
