{% extends 'layout.html.twig' %}

{% block content %}

    <div class="ajout container">
    <h1 class="ajouter">Ajouter un nouveau Joueur</h1>
    </div>
    {% include 'Player/_form.html.twig' %}

{% endblock %}
