{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter un nouveau Joueur</h1>
    {% include 'Player/_form.html.twig' %}
    <?php header("Location: http://localhost:8000/newteam/player/{id:\d+}"); ?>
{% endblock %}
