{% extends 'layout.html.twig' %}

{% block content %}

    <br>
    <br>
    <br>


        <div class="container">
            <h1 class="titrepagequipe">Equipe 2018/2019</h1>
            <br>
            <div class="row justify-content-around">
                {% for player in players %}
                <div class="col-md-3-lg-4 pd-4">
                        <div class="card rosterteam" >
                            <img class="card-img-top" src="{{ player.portrait }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title-player">{{ player.lastname }}  {{ player.firstname }}</h5>
                                <a href="/newteam/player/{{ player.id }}" class="btn btn-outline-danger btn-block">
                                    Caractéristiques</a>
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
            <a href="/newteam/addplayer" class="btn btn-outline-dark">Ajouter un joueur</a>
        </div>

{% endblock %}

