{% extends 'layout.html.twig' %}

{% block content %}




    <div class="container">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_600,w_1000/v1539769596/equipe10.jpg"
                         alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_600,w_1000/v1539770179/olive-et-tom-024.jpg"
                         alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_600,w_1000/v1539770345/olive-et-tom-le-retour_2772735_1.jpg"
                         alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="card-columns">
            <div class="col">
                <div class="card news">
                    <img class="card-img-top"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_230,w_300/v1539780050/251512182.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Landers meilleur buteur du groupe</h5>
                        <p class="card-text">Grâce à son doublé face au Brésil (3-1), Mark Landers
                            passe en tête du classement des buteurs du groupe C avec 9 buts inscrits.</p>
                    </div>
                </div>
            </div>
            <div class="deuxieme col">
                <div class="card news">
                    <img class="card-img-top"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_230,w_300/v1539780299/hqdefault.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Atton - Landers, un duo efficace !</h5>
                        <p class="card-text">Depuis de début de la compétition, Olivier Atton et Mark Landers sont
                            impliqués dans 11 buts inscrits par l'équipe.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card news">
                    <img class="card-img-top"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_230,w_300/v1539780399/361563526.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Record d'affluence face au Brésil</h5>
                        <p class="card-text">Plus de 50 000 personnes etaient présentes au stade pour
                            supporter la selection japonaise lors du dernier match face au Brésil.</p>
                    </div>
                </div>
            </div>
            <div class="quatrieme col">
                <div class="card news">
                    <img class="card-img-top"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_230,w_300/v1539780336/4925159_l5.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Vicoire face au Brésil !</h5>
                        <p class="card-text">La sélection japonaise à battu le Brésil 3 - 1 lors de son dernier match.
                            Landers à inscrit un doublé.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card news">
                    <img class="card-img-top"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_230,w_300/v1539780324/65612e1380f1be71bd5101f5fd557701.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Frayeur pour Olivier Atton</h5>
                        <p class="card-text">Olivier Atton à ressenti une géne aux aducteurs à l'entrainement.
                            L'entraineur à décidé de le laisser au repos pour le prochain match.</p>
                    </div>
                </div>
            </div>
            <div class="sixieme col">
                <div class="card news">
                    <img class="card-img-top"
                         src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_230,w_300/v1539780159/latest.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Premiere sélection pour Ralph Peterson</h5>
                        <p class="card-text">Ralph Peterson à honoré sa premiere selection face au Brésil.
                            L'entraineur à décidé de le faire rentrer à la place de Callahan à la 73eme minute.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}